@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Montserrat', sans-serif;
}

.icon_bold {
    -webkit-text-stroke: 2px;
}

.icon_semibold {
    -webkit-text-stroke: 0.5px;
}